{include file="common/head"/}
<div class="layui-fluid layadmin-maillist-fluid">
  <div class="layui-card">
    <div class="admin-main layui-anim layui-anim-upbit ">
      <div class="layui-card-header">{$title}</div>
      <div class="layui-card-body" pad15>
        <div style="padding-bottom:15px;">
          <a href="{:url('add')}" class="layui-btn layui-btn-small">预添加插件</a>
        </div>
        <!-- <div class="layui-col-md4 layui-col-sm6">

        </div> -->

        <div class="layui-row layui-col-space15">
          {volist name="list" id="vo"}
          <div class="layui-col-md3 layui-col-sm6">
            <div class="layadmin-contact-box">
              <div class="layui-col-md4 layui-col-sm6">
                <a href="javascript:;">
                  <div class="layadmin-text-center" style="margin-top: 45px;">
                    <div style="border-radius: 50%;margin-top: 5px;display: inline-block; position:relative;text-align:center">
                      <i class="layui-icon {$vo.icon}" style="position:absolute; font-size:30px; height:30px; top:50%; margin-top:-15px;left:50%; margin-left:-15px;"></i>
                    </div>
                  </div>
                </a>
              </div>

              <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
                <a href="javascript:;">
                  <h3 class="layadmin-title">
                  <strong>{$vo.title}</strong>
                </h3>
                  <p class="layadmin-textimg">
                    <i class="layui-icon layui-icon-username"></i> {$vo.author}
                  </p>
                </a>
                <div class="layadmin-address" style="margin-bottom:0">
                  <p style="overflow: hidden;text-overflow:ellipsis; white-space: nowrap; ">{$vo.description}</p>
                  <div style="margin-top:10px;">
                    <!-- <a href="/addons_execute_{$vo.name}-index-index" class="layui-btn layui-btn-xs qrshow" id="" target="_blank">前台入口</a> -->
                    <a href="/admin/Addons/loadadmin/id/{$vo.aid}.html" class="layui-btn layui-btn-xs" target="_blank" title="进入管理后台">后台</a>
                    {if condition="$vo.status eq 1"}
                    <!-- <a class="layui-btn layui-btn-normal layui-btn-xs layui-btn-disabled" data-name="{$vo.name}" lay-event="install" title="安装插件">安装</a> -->
                    <a class="layui-btn layui-btn-danger layui-btn-xs uninstall" data-name="{$vo.name}" lay-event="uninstall" title="卸载插件">卸载</a>
                    {else}
                    <a class="layui-btn layui-btn-normal layui-btn-xs install" lay-event="install" data-name="{$vo.name}" title="安装插件">安装</a>
                    <!-- <a class="layui-btn layui-btn-danger layui-btn-xs layui-btn-disabled uninstall" data-name="{$vo.name}" title="卸载插件">卸载</a> -->
                    {/if}

                    {if condition="$vo.has_adminlist eq 1"}
                    <a class="layui-btn layui-btn-xs layui-btn-warm adminlist" data-name="{$vo.name}" data-hasadminlist="{$vo.has_adminlist}" title="是否显示在后台快捷列表">不显示</a>
                    {else}
                    <a class="layui-btn layui-btn-xs layui-btn-danger adminlist" data-name="{$vo.name}" data-hasadminlist="{$vo.has_adminlist}" title="是否显示在后台快捷列表">显示</a>
                    {/if}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {/volist}
        </div>
        <!-- <table class="layui-table" id="list" lay-filter="list"></table> -->
      </div>
    </div>
  </div>
</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>

<style media="screen">
  .qrshow {
    position: relative;
  }

  .tan {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
  }

  .tan img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
</style>
<script>
  layui.use(['layer'], function() {
    var layer = layui.layer,
      $ = layui.jquery;
    $('body').on('click','.install',function(){
      var name = $(this).data('name');
      layer.confirm('您确定要安装该插件吗？', function(index) {
        var loading = layer.load(1, {
          shade: [0.1, '#fff']
        });
        $.post("{:url('install')}", {
          addonsname: name
        }, function(res) {
          layer.close(loading);
          if (res.code === 1) {
            layer.msg(res.msg, {
              time: 1000,
              icon: 1
            });
            window.location.reload()
          } else {
            layer.msg('操作失败！', {
              time: 1000,
              icon: 2
            });
          }
        });
        layer.close(index);
      });
    })

    $('body').on('click','.uninstall',function(){
      var name = $(this).data('name');
      layer.confirm('您确定要卸载该内容吗？', function(index) {
        var loading = layer.load(1, {
          shade: [0.1, '#fff']
        });
        $.post("{:url('uninstall')}", {
          addonsname: name
        }, function(res) {
          layer.close(loading);
          if (res.code === 1) {
            layer.msg(res.msg, {
              time: 1000,
              icon: 1
            });
            window.location.reload();
          } else {
            layer.msg('操作失败！', {
              time: 1000,
              icon: 2
            });
          }
        });
        layer.close(index);
      });
    });

    $('body').on('click','.adminlist',function(){
      var name = $(this).data('name');
      var has_adminlist = $(this).data('hasadminlist');
      layer.confirm('您确定要在后台首页显示插件吗？', function(index) {
        var loading = layer.load(1, {
          shade: [0.1, '#fff']
        });
        $.post("{:url('adminlist')}", {
          'has_adminlist': has_adminlist,
          'addonsname': name
        }, function(res) {
          layer.close(loading);
          window.location.reload();
        });
        layer.close(index);
      });
    })



    $('.layadmin-address a').on('mouseenter', function() {
      var title = $(this).attr('title');
      layer.tips(title, this, {
        tips: [3, '#0FA6D8'],
        tipsMore: false,
        time:1000
      });
    });
  });
</script>
