{include file="common/head"/}
<div id="LAY_app">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <!-- 头部区域 -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layadmin-flexible" lay-unselect>
          <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <a href="/index.html" target="_blank" title="前台">
              <i class="layui-icon layui-icon-website"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;" layadmin-event="refresh" data-url="{:url('clear')}" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
        </li>
      </ul>
      <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

        <!-- <li class="layui-nav-item" lay-unselect>
            <a lay-href="app/message/index.html" layadmin-event="message" lay-text="消息中心">
              <i class="layui-icon layui-icon-notice"></i>
              <span class="layui-badge-dot"></span>
            </a>
          </li> -->
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
        </li>
        <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
        </li>
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;">
              <cite>{:session('username')}</cite>
            </a>
          <dl class="layui-nav-child">
            <dd><a lay-href="/admin/auth/adminEdit.html?admin_id={:session('aid')}">基本资料</a></dd>
            <dd><a lay-href="/admin/auth/adminEdit.html?admin_id={:session('aid')}">修改密码</a></dd>
            <hr>
            <dd style="text-align: center;"><a href="{:url('index/logout')}">{:lang('logout')}</a></dd>
          </dl>
        </li>

        <li class="layui-nav-item layui-hide-xs" lay-unselect>
          <a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
        <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
          <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
        </li>
      </ul>
    </div>

    <!-- 侧边菜单 -->
    <div class="layui-side layui-side-menu">
      <div class="layui-side-scroll">
        <div class="layui-logo" lay-href="{:url('main')}">
          <span style="font-size:30px;font-weight: bold;">{:config('sys_name')}</span>
        </div>

        <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
          <li data-name="home" class="layui-nav-item">
            <a lay-href="{:url('main')}" lay-tips="主页" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>主页</cite>
              </a>
          </li>
          {volist name="menus" id="vo"}
          <li data-name="{$vo.title}" class="layui-nav-item">
            {if condition="$vo.children"}
            <a href="javascript:;" lay-tips="{$vo.title}" lay-direction="2">
              <i class="layui-icon layui-icon-{$vo.icon}"></i>
                <cite>{$vo.title}</cite>
            </a>
            {else}
            <a lay-href="{$vo.href}" lay-tips="{$vo.title}" lay-direction="2">
              <i class="layui-icon layui-icon-{$vo.icon}"></i>
                <cite>{$vo.title}</cite>
            </a>
            {/if}
              {if condition="$vo.children"}
                {volist name="$vo.children" id="voa"}
                <dl class="layui-nav-child">
                  {if condition="$voa.children"}
                  <dd data-name="{$vob.title}">
                    <a href="javascript:;">{$voa.title}</a>
                    <dl class="layui-nav-child">
                      <!-- {volist name="$voa.children" id="vob"}
                        <dd data-name="{$vob.title}"><a lay-href="{$vob.href}">{$vob.title}</a></dd>
                        {/volist} -->
                      {volist name="$voa.children" id="vob"}
                      <dd data-name="{$vob.title}" class="layui-nav-item">
                        {if condition="$vob.children"}
                        <a href="javascript:;">{$vob.title}</a>
                        <dl class="layui-nav-child">
                          {volist name="$vob.children" id="voc"}
                          <dd data-name="{$voc.title}"><a lay-href="{$voc.href}">{$voc.title}</a></dd>
                          {/volist}
                        </dl>
                        {else}
                        <a lay-href="{$vob.href}">{$vob.title}</a>
                        {/if}
                      </dd>
                      {/volist}
                    </dl>
                  </dd>
                  {else}
                  <dd data-name="{$vob.title}">
                    <a lay-href="{$voa.href}">{$voa.title}</a>
                  </dd>
                  {/if}
                </dl>
                {/volist}
              {/if}
          </li>
          {/volist}
        </ul>
      </div>
    </div>

    <!-- 页面标签 -->
    <div class="layadmin-pagetabs" id="LAY_app_tabs">
      <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
      <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
      <!-- <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div> -->
      <div class="layui-icon layadmin-tabs-control layui-icon-down">
        <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;"></a>
            <dl class="layui-nav-child layui-anim-fadein">
              <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
              <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
              <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
        <ul class="layui-tab-title" id="LAY_app_tabsheader">
          <li lay-id="{:url('main')}" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
        </ul>
      </div>
    </div>


    <!-- 主体内容 -->
    <div class="layui-body" id="LAY_app_body">
      <div class="layadmin-tabsbody-item layui-show">
        <iframe src="{:url('main')}" frameborder="0" class="layadmin-iframe"></iframe>
      </div>
    </div>

    <!-- 辅助元素，一般用于移动设备下遮罩 -->
    <div class="layadmin-body-shade" layadmin-event="shade"></div>
  </div>
</div>

<script src="__ADMIN__/layui/layui.js"></script>
<script type="text/javascript">
  // layui.use('rightmenu', function() {
  //     var rightmenu = layui.rightmenu, $ = layui.jquery;
  //     $(document).ready(function(){
  //       var rcm = rightmenu;
  //       rcm.init({
  //         area:'body',
  //         items:{
  //           "edit":{name:"编辑",icon:'edit'},
  //           "del":{name:"删除",icon:'trash-o'},
  //           "add":{name:"添加",icon:'plus',items:{
  //             "new-text":{name:"添加文件",icon:'file-text'},
  //             "new-zip":{name:"添加ZIP",icon:'file-zip-o'}
  //           }},
  //           "refresh":{name:"刷新",icon:'refresh'},
  //           "down":{name:"下载按钮",icon:'cloud-download'},
  //           "new":{name:"新建",icon:'file',items:{
  //             "new-text":{name:"新建文件",icon:'file-text'},
  //             "new-zip":{name:"新建ZIP",icon:'file-zip-o'}
  //           }}
  //         },
  //         callback:function(res){
  //           if(res.data == 'edit'){
  //             console.log('点击了edit');
  //           }else if(res.data == 'del'){
  //             console.log('点击了del');
  //           }else if(res.data == 'add'){
  //             console.log('点击了add');
  //           }else if(res.data == 'refresh'){
  //             window.location.reload();
  //           }else if(res.data == 'down'){
  //             console.log('点击了download');
  //           }
  //         }
  //       })
  //     });
  //
  // })
</script>
<script>
  layui.config({
    base: '__ADMIN__/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index');

</script>
<style media="screen">
  .RCM-Main{position:absolute}.RCM-container{border:1px solid #ccc;padding:5px 0;display:block;box-shadow:0 0 2px #ccc;font-size:14px;border-radius:3px;z-index:10000;background:#fff;color:#000}.RCM-container ul{list-style:none;padding:0;margin:0}.RCM-container ul li{height:30px;line-height:30px;padding:0 18px 0 15px;cursor:pointer;position:relative}.RCM-container ul li:hover{background-color:#343a40;color:#fff}.textcenter{text-align:center}.fa-align-right{position:absolute;right:0;top:10px}.RCM-child{position:absolute;top:0;width:100%}
</style>


</body>

</html>
