<!doctype html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" type="image/png" href="favicon/favicon.png">
  <link rel="stylesheet" href="css/style.bundle.css">

  <title>
    Project Title
  </title>
</head>

<body>
  <div id="progress">
    <span></span>
  </div>
  <!-- 弹窗 -->
  <div class="alert_player" style="display:none;">
    <div class="bg"></div>
    <div class="layer">
      <div class="info"></div>
      <a class="queren_btn" data-ajax="no">确认</a>
    </div>
  </div>
  <!-- 弹窗 -->
  <header>
    <div class="h_top">
      <div class="container">
        <div class="h_top_l">
          <span>你好，欢迎您来到31693部队强军网！</span>
          <a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">收藏本站</a>
        </div>
        <div class="h_top_r">
          <a href="#">登录</a>
          <span>｜</span>
          <a href="#">注册</a>
        </div>
      </div>
    </div>
    <div class="logo">
      <div class="container">
        <img src="img/logo.jpg" alt="">
      </div>
    </div>
    <nav>
      <div class="container-without-overflow">
        <ul>
          <li>
            <a href="#" class="one_menu">网站首页<span></span></a>
          </li>
          <li>
            <a href="#" class="one_menu">新闻资讯<span></span></a>
            <dl>
              <dd>
                <a href="#">时事新闻</a>
              </dd>
              <dd>
                <a href="#">军情观察</a>
              </dd>
              <dd>
                <a href="#">各级动态</a>
              </dd>
              <dd>
                <a href="#">公示公告</a>
              </dd>
            </dl>
          </li>
          <li>
            <a href="#" class="one_menu">理论学习<span></span></a>
            <dl>
              <dd>
                <a href="#">习近平强军思想</a>
              </dd>
              <dd>
                <a href="#">各级指示精神</a>
              </dd>
              <dd>
                <a href="#">理论新视野</a>
              </dd>
            </dl>
          </li>
          <li>
            <a href="#" class="one_menu">备战打仗<span></span></a>
            <dl>
              <dd>
                <a href="#">强军风采</a>
              </dd>
              <dd>
                <a href="#">龙虎榜</a>
              </dd>
              <dd>
                <a href="#">练武场</a>
              </dd>
              <dd>
                <a href="#">讲武堂</a>
              </dd>
              <dd>
                <a href="#">议战厅</a>
              </dd>
            </dl>
          </li>
          <li>
            <a href="#" class="one_menu">教育平台<span></span></a>
            <dl>
              <dd>
                <a href="#">主题教育</a>
              </dd>
              <dd>
                <a href="#">精品教案库</a>
              </dd>
              <dd>
                <a href="#">骨干小课堂</a>
              </dd>
              <dd>
                <a href="#">军事职业教育</a>
              </dd>
              <dd>
                <a href="#">数字史馆</a>
              </dd>
            </dl>
          </li>
          <li>
            <a href="#" class="one_menu">工作指导<span></span></a>
            <dl>
              <dd>
                <a href="#">机关信息</a>
              </dd>
              <dd>
                <a href="#">政策法规</a>
              </dd>
              <dd>
                <a href="#">建言献策</a>
              </dd>
              <dd>
                <a href="#">纪检监察</a>
              </dd>
            </dl>
          </li>
          <li>
            <a href="#" class="one_menu">服务官兵<span></span></a>
            <dl>
              <dd>
                <a href="#">首长信箱</a>
              </dd>
              <dd>
                <a href="#">暖心工程</a>
              </dd>
              <dd>
                <a href="#">法律服务</a>
              </dd>
              <dd>
                <a href="#">心理咨询</a>
              </dd>
              <dd>
                <a href="#">报修预约</a>
              </dd>
            </dl>
          </li>
          <li>
            <a href="#" class="one_menu">强军文化<span></span></a>
            <dl>
              <dd>
                <a href="#">才艺馆</a>
              </dd>
              <dd>
                <a href="#">阅读室</a>
              </dd>
              <dd>
                <a href="#">畅听吧</a>
              </dd>
              <dd>
                <a href="#">放映厅</a>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
    </nav>
    <div class="h_bot">
      <div class="container">
        <div class="h_bot_l">
          <span style="background-image: url(img/ic_1.png);"><b>今天是：</b>2018年5月20日   星期日</span>
          <!-- <span style="background-image: url(img/ic_2.png);"><b>今天是：</b>2018年5月20日   星期日</span> -->
        </div>
        <div class="h_bot_r">
          <input type="text" name="" value="">
          <button type="button" name="button">搜索</button>
        </div>
      </div>
    </div>
  </header>

  <main class="main container">
    <article class="reg" data-main="reg">
      <section class="reg_bt">
        <h3>会员注册</h3>
      </section>
      <section class="reg_mid">
        <div class="reg_l">
          <form class="" action="#" method="post">
            <div class="reg_i">
              <label for="i_user">用户名:</label>
              <input id="i_user" type="text" name="" value="">
              <span>!请输入用户名</span>
            </div>
            <div class="reg_i">
              <label for="i_user">密码:</label>
              <input id="i_user" type="password" name="" value="">
              <span>!请输入密码</span>
            </div>
            <div class="reg_i">
              <label for="i_user">确认密码:</label>
              <input id="i_user" type="password" name="" value="">
              <span>!请确认密码</span>
            </div>
            <div class="reg_i">
              <label for="i_user">邮箱:</label>
              <input id="i_user" type="text" name="" value="">
              <span>!请输入邮箱</span>
            </div>
            <div class="reg_i">
              <label for="i_user">昵称:</label>
              <input id="i_user" type="text" name="" value="">
              <span>!请输入昵称</span>
            </div>
            <div class="reg_i">
              <label for="i_user">生日:</label>
              <input id="i_user" type="text" name="" value="">
              <span>!请确认密码</span>
            </div>
            <div class="reg_i reg_iz">
              <label for="i_user">验证码:</label>
              <input id="i_user" type="text" name="" value="">
              <img src="img/yzm.png" alt="">
              <span>!请确认密码</span>
            </div>
            <div class="reg_tj">
              <input type="submit" name="" value="提交注册">
            </div>
          </form>

        </div>
        <div class="reg_r">
          <div class="reg_r_l">
            已有了帐号？<br> 请直接
            <a href="login.html">登录</a>
          </div>
        </div>
      </section>
      <section class="foot_menu">
        <dl>
          <dt><a href="#">新闻资讯</a></dt>
          <dd><a href="#">时事新闻</a></dd>
          <dd><a href="#">军情观察</a></dd>
          <dd><a href="#">各级动态</a></dd>
          <dd><a href="#">公示公告</a></dd>
        </dl>
        <dl>
          <dt><a href="#">理论学习</a></dt>
          <dd><a href="#">习近平强军思想</a></dd>
          <dd><a href="#">各级指示精神</a></dd>
          <dd><a href="#">理论新视野</a></dd>
        </dl>
        <dl>
          <dt><a href="#">备战打仗</a></dt>
          <dd><a href="#">强军风采</a></dd>
          <dd><a href="#">龙虎榜</a></dd>
          <dd><a href="#">练武场</a></dd>
          <dd><a href="#">讲武堂</a></dd>
          <dd><a href="#">议战厅</a></dd>
        </dl>
        <dl>
          <dt><a href="#">教育平台</a></dt>
          <dd><a href="#">主题教育</a></dd>
          <dd><a href="#">精品教案库</a></dd>
          <dd><a href="#">骨干小课堂</a></dd>
          <dd><a href="#">军事职业教育</a></dd>
          <dd><a href="#">数字史馆</a></dd>
        </dl>
        <dl>
          <dt><a href="#">工作指导</a></dt>
          <dd><a href="#">机关信息</a></dd>
          <dd><a href="#">政策法规</a></dd>
          <dd><a href="#">建言献策</a></dd>
          <dd><a href="#">纪检监察</a></dd>
        </dl>
        <dl>
          <dt><a href="#">服务官兵</a></dt>
          <dd><a href="#">首长信箱</a></dd>
          <dd><a href="#">暖心工程</a></dd>
          <dd><a href="#">法律服务</a></dd>
          <dd><a href="#">心理咨询</a></dd>
          <dd><a href="#">报修预约</a></dd>
        </dl>
        <dl>
          <dt><a href="#">强军文化</a></dt>
          <dd><a href="#">才艺馆</a></dd>
          <dd><a href="#">阅读室</a></dd>
          <dd><a href="#">畅听吧</a></dd>
          <dd><a href="#">放映厅</a></dd>
        </dl>
      </section>
    </article>
  </main>
  <footer>
    <div class="container">
      <p><b>主办单位:</b>31693部队政治工作宣传局&nbsp; &nbsp; <b>联系人：</b>李雷&nbsp; &nbsp; <b>值班电话：</b>010-66387822</p>
      <p><b>网站编号:</b>ZZB2120180326001</p>
      <p><a href="#">后台管理入口</a></p>
    </div>
  </footer>
  <script src="js/bundle.js"></script>
</body>

</html>
