{include file="common/head"/}
<style media="screen">
  .fieldinfo{ color: red; display: block;}
</style>
<div class="layui-fluid">
   <div class="layui-card">
    <div style="" class="fadeInUp animated">
      <div class="layui-card-header">{$title}</div>
      <div class="layui-card-body" pad15>
      <!-- <blockquote class="layui-elem-quote">
        提示
      </blockquote> -->
      <form class="layui-form ">
        <div class="layui-form-item">
          <label class="layui-form-label">名称</label>
          <div class="layui-input-block">
            <input type="text" name="title" lay-verify="required" placeholder="请输入注册项名称" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">英文名称</label>
          <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" placeholder="不带空格并且不能与其他选项英文名称重复" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">类型</label>
          <div class="layui-input-block">
            <select id="type" name="type" lay-filter="type" ng-model="field.type" class="required" lay-verify="required">
              <option value="0">请选择类型</option>
              <option value="text">普通文本</option>
              <option value="phone">手机</option>
              <option value="sex">性别选项</option>
              <option value="password">密码</option>
              <option value="email">邮箱</option>
              <option value="oirganization">单位编制</option>
              <option value="datatime">日期</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">必填</label>
          <div class="layui-input-block">
            <input type="radio" name="required" value="1" title="是">
            <input type="radio" name="required" checked value="0" title="否">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">排序</label>
          <div class="layui-input-block">
            <input type="text" name="listorder" value="99" lay-verify="required" placeholder="请输入排序" class="layui-input">
          </div>
        </div>
        <!-- <div class="layui-form-item">
          <label class="layui-form-label">类别状态</label>
          <div class="layui-input-block">
            <input type="radio" name="status" lay-filter="status" checked value="1" title="开启">
            <input type="radio" name="status" lay-filter="status" value="0" title="关闭">
          </div>
        </div> -->
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="auth">立即提交</button>
            <a href="{:addon_url('member://setting/index')}" class="layui-btn layui-btn-primary">返回</a>
          </div>
        </div>
      </form>
      </div>
    </div>
   </div>
</div>
{include file="common/foot"/}
<script>
  layui.use(['form', 'layer'], function() {
    var form = layui.form,
      layer = layui.layer,
      $ = layui.jquery;
    form.on('submit(auth)', function(data) {
      // 提交到方法 默认为本身
      $.post("{:addon_url($addon.'://setting/regadd')}", data.field, function(res) {
        if (res.code > 0) {
          layer.msg(res.msg, {
            time: 1000,
            icon: 1
          }, function() {
            location.href = res.url;
          });
        } else {
          layer.msg(res.msg, {
            time: 1000,
            icon: 2
          });
        }
      });
    })
  });
</script>
