{include file="common/head"/}
<style media="screen">
  .fieldinfo{ color: red; display: block;}
</style>
<div class="layui-fluid">
   <div class="layui-card">
    <div style="" class="fadeInUp animated">
      <div class="layui-card-header">{$title}</div>
      <div class="layui-card-body" pad15>
      <!-- <blockquote class="layui-elem-quote">
        提示
      </blockquote> -->
      <form class="layui-form ">
        <div class="layui-form-item">
          <label class="layui-form-label">姓名</label>
          <div class="layui-input-block">
            <input type="text" name="name" lay-verify="required" value="{$info.name}" placeholder="请输入姓名" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">微信昵称</label>
          <div class="layui-input-block">
            <input type="text" name="nickname" disabled lay-verify="required" value="{$info.nickname}" placeholder="请输入微信昵称" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">微信头像</label>
          <div class="layui-input-block">
            <img src="{$info.avatarurl}" style="cursor:defult" alt="">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">等级</label>
          <div class="layui-input-block">
            <select id="level" name="level" lay-filter="level" ng-model="field.level" class="required" lay-verify="required">
              <option value="1" {if condition="$info.level eq 1"}selected{/if}>普通会员</option>
              <option value="2" {if condition="$info.level eq 2"}selected{/if}>Vip会员</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">手机</label>
          <div class="layui-input-block">
            <input type="text" name="tel" lay-verify="required" value="{$info.tel}" placeholder="请输入手机号" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">成绩分类</label>
          <div class="layui-input-block">
            <select id="cjfl" name="cjfl" lay-filter="cjfl" ng-model="field.cjfl" class="required" lay-verify="required">
              <option value="1" {if condition="$info.cjfl eq 1"}selected{/if}>艺术文</option>
              <option value="2" {if condition="$info.cjfl eq 2"}selected{/if}>艺术理</option>
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">专业</label>
          <div class="layui-input-block">
            <select id="major" name="major" lay-filter="major" ng-model="field.major" class="required" lay-verify="required">
              {volist name="major" id="vo"}
              <option value="{$vo.id}" {if condition="$info.major eq $vo.id"}selected{/if}>{$vo.title}</option>
              {/volist}
            </select>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">高考分数</label>
          <div class="layui-input-block">
            <input type="text" name="gkfs" lay-verify="required" value="{$info.gkfs}" placeholder="请输入高考分数" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">统考分数</label>
          <div class="layui-input-block">
            <input type="text" name="tkfs" lay-verify="required" value="{$info.tkfs}" placeholder="请输入统考分数" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">全省排名</label>
          <div class="layui-input-block">
            <input type="text" name="paiming" lay-verify="required" value="{$info.paiming}" placeholder="请输入全省排名" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">登录设备</label>
          <div class="layui-input-block">
            <input type="text" name="mobileinfo" disabled lay-verify="required" value="{$info.mobileinfo}" placeholder="登录设备" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">地址</label>
          <div class="layui-input-block">
            <input type="text" name="address" disabled lay-verify="required" value="{$info.address}" placeholder="地址" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">注册时间</label>
          <div class="layui-input-block">
            <input type="text" name="addtime" disabled lay-verify="required" value="{$info.addtime}" placeholder="注册时间" class="layui-input">
          </div>
        </div>
        <!-- <div class="layui-form-item">
          <label class="layui-form-label">类别状态</label>
          <div class="layui-input-block">
            <input type="radio" name="status" lay-filter="status" checked value="1" title="开启">
            <input type="radio" name="status" lay-filter="status" value="0" title="关闭">
          </div>
        </div> -->
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button type="button" class="layui-btn" lay-submit="" lay-filter="auth">立即提交</button>
            <a href="{:addon_url('member://member/index')}" class="layui-btn layui-btn-primary">返回</a>
          </div>
        </div>
      </form>
      </div>
    </div>
   </div>
</div>
{include file="common/foot"/}
<script>
  layui.use(['form', 'layer'], function() {
    var form = layui.form,
      layer = layui.layer,
      $ = layui.jquery;
    form.on('submit(auth)', function(data) {
      // 提交到方法 默认为本身
      $.post("{:addon_url($addon.'://member/edit')}?id={$id}", data.field, function(res) {
        if (res.code > 0) {
          layer.msg(res.msg, {
            time: 1000,
            icon: 1
          }, function() {
            location.href = res.url;
          });
        } else {
          layer.msg(res.msg, {
            time: 1000,
            icon: 2
          });
        }
      });
    })
  });
</script>
