{include file="common/head"/}
<style>
.layui-table-cell {
    height: 40px;
    line-height: 40px;
}

</style>
<div class="layui-fluid">
   <div class="layui-card">
    <div class="admin-main layui-anim layui-anim-upbit">
        <div class="layui-card-header">{$title}</div>
        <div class="layui-card-body" pad15>
          <div class="demoTable" style="padding-bottom:5px;">
            <div class="layui-inline">
                <input class="layui-input" name="key" id="key" placeholder="请输入姓名或手机号">
            </div><button class="layui-btn" id="search" data-type="reload">搜索</button>
            <a href="{:url('index',['catid'=>input('catid')])}" class="layui-btn">显示全部</a>
            <button type="button" class="layui-btn layui-btn-danger" id="delAll">批量删除</button>
            <button type="button" class="layui-btn layui-btn-defult" id="export">导出Excel</button>
            <div style="clear: both;"></div>
          </div>
          <table class="layui-table" id="list" lay-filter="list"></table>
        </div>
    </div>
   </div>
</div>
{include file="common/foot"/}
<script src="__STATIC__/common/js/jquery.2.1.1.min.js"></script>
<script type="text/html" id="action">
  <a class="layui-btn layui-btn-warm layui-btn-xs" href="{:addon_url('member://member/edit')}?id={{d.id}}" >修改</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="usetime">
    {{d.usetime}}秒
</script>
<script type="text/html" id="avatarurl">
     <img src="{{d.avatarurl}}" alt="" width="40">&nbsp;&nbsp;{{d.nickname}}
</script>
<script type="text/html" id="state">
  {{# if(d.state==1){ }}
  <a class="layui-btn layui-btn-xs layui-btn-danger  layui-btn-disabled" lay-event="state">审核通过</a>
  <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="state">审核不通过</a>
  {{# }else{  }}
  <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="state">审核通过</a>
  <a class="layui-btn layui-btn-xs layui-btn-warm  layui-btn-disabled" lay-event="state">审核不通过</a>
  {{# } }}
</script>
<script>
    layui.use('table', function() {
        var table = layui.table, $ = layui.jquery;
        var tableIn = table.render({
            id: 'content',
            elem: '#list',
            url: "{:addon_url('member://member/index')}",
            // where:{type:"{:Input('type')}"},
            method: 'post',
            page: true,
            cols: [[
              {type: "checkbox", fixed: true},
              {field: 'id', title: '编号', fixed: true,width:60},
              {field: 'name',  title: '姓名',width:100},
              {field: 'avatarurl',  title: '微信', templet: '#avatarurl'},
              {field: 'tel', title: '电话',width:150},
              {field: 'gkfs', title: '高考分数'},
              {field: 'tkfs', title: '统考分数'},
              {field: 'cjfl', title: '成绩分类'},
              {field: 'major', title: '专业'},
              {field: 'addtime',title:'添加时间',width:200},
              {align: 'center', toolbar: '#action',title:'操作',width:150}
            ]],
            limit: 10
        });
        //搜索
        $('#search').on('click', function () {
            var key = $('#key').val();
            if ($.trim(key) === '') {
                layer.msg('请输入姓名或手机号！', {icon: 0});
                tableIn.reload({
                    where: {key: ''}
                });
                return;
            }
            tableIn.reload({
                where: {key: key}
            });
        });
        table.on('tool(list)', function(obj) {
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('您确定要删除该内容吗？', function(index){
                    var loading = layer.load(1, {shade: [0.1, '#fff']});
                    $.post("{:addon_url('member://member/del')}",{id:data.id},function(res){
                        layer.close(loading);
                        if(res.code===1){
                            layer.msg(res.msg,{time:1000,icon:1});
                            tableIn.reload();
                        }else{
                            layer.msg('操作失败！',{time:1000,icon:2});
                        }
                    });
                    layer.close(index);
                });
            }else if (obj.event === 'state') {
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:addon_url('member://member/changestate')}", {'id': data.id,'state':data.state}, function (res) {
                    layer.close(loading);
                    if (res.code === 1) {
                      tableIn.reload();
                    } else {
                        layer.msg('操作失败！', {time: 1000, icon: 2});
                        return false;
                    }
                })
            }
        });
        $('#delAll').click(function(){
            layer.confirm('确认要删除选中的内容吗？', {icon: 3}, function(index) {
                layer.close(index);
                var checkstate = table.checkStatus('content'); //content即为参数id设定的值
                // console.log(checkStatus)
                var ids = [];
                $(checkstate.data).each(function (i, o) {
                    ids.push(o.id);
                });
                var loading = layer.load(1, {shade: [0.1, '#fff']});
                $.post("{:addon_url('member://member/delAll')}", {ids: ids,catid:'{:input("catid")}'}, function (data) {
                    layer.close(loading);
                    if (data.code === 1) {
                        layer.msg(data.msg, {time: 1000, icon: 1});
                        tableIn.reload();
                    } else {
                        layer.msg(data.msg, {time: 1000, icon: 2});
                    }
                });
            });
        })

        $('#export').click(function(event) {
          var checkstate = table.checkStatus('content'); //content即为参数id设定的值
          // console.log(checkStatus)
          var ids = [];
          $(checkstate.data).each(function (i, o) {
              ids.push(o.id);
          });
          var loading = layer.load(1, {shade: [0.1, '#fff']});
          $.post("{:addon_url('member://member/export')}", {ids: ids}, function (data) {
              layer.close(loading);
              if (data.code === 1) {
                  window.location.href = data.url;
              } else {
                  layer.msg(data.msg, {time: 1000, icon: 2});
              }
          });
        });
    });
</script>
